<img src="https://i.imgur.com/UkwOyaY.png">

<li>
    {{burger_name}}
        {{#if devoured}}
            <button data-id="{{id}}" data-newdevoured="{{devoured}}" class="change-devoured"> EAT ME</button>
        {{/if}}
</li>

